<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>selectbeer</servlet-name>
    <servlet-class>by.minsler.web.SelectColorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectbeer</servlet-name>
    <url-pattern>/selectbeer</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>BeerParamTest</servlet-name>
  	<servlet-class>by.minsler.web.BeerParamTest</servlet-class>
  	<init-param>
  		<param-name>email</param-name>
  		<param-value>minsler.by@gmail.com</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BeerParamTest</servlet-name>
  	<url-pattern>/beerparamtest</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>infoemail</param-name>
    <param-value>info@minsler.org</param-value>
  </context-param>

  <context-param>
    <param-name>logFileProperties</param-name>
    <param-value>WEB-INF/log4j.properties</param-value>
  </context-param>

  <listener>
    <listener-name>InitContextListener</listener-name>
    <listener-class>by.minsler.web.InitContextListener</listener-class>
  </listener>

  <listener>
    <listener-name>Log4jInit</listener-name>
    <listener-class>by.minsler.web.Log4jInit</listener-class>
  </listener>

  <session-config>
    <sesskion-timeout>15</sesskion-timeout>
  </session-config>
  
</web-app>