.brand{
	font-size: 24px;
	margin-left: 50px;
	font-style: italic;
	color: white;
}

body{
	background: fixed;
	background-image: url(http://3.bp.blogspot.com/-bk4aRop3iiM/TerMWfn188I/AAAAAAAAEL0/1D8IIJ94u2E/s1600/diabetes%2Bbeer.jpg);
	background-repeat: no-repeat;
	background-size: 100%
}

h2{
	font-size: 26px;
	text-align: left;
	margin-left: 30px;
	color: rgb(255,255,255);
	text-decoration: underline;

}

.center{
	margin-left: 50px;
}